body {
  display: flex;
  flex-direction: column;
}

.variant {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sentences {
  padding-left: 20px;
}

#choices {
  display: flex;
  gap: 20px;
}

#javob1,
#javob2,
#javob3,
#javob4,
#javob5,
#javob6,
#javob7,
#javob8,
#javob9,
#javob10,
#javob11,
#javob12,
#javob13,
#javob14,
#javob15,
#javob16,
#javob17,
#javob18,
#option1,
#option2,
#option3,
#answerX,
#answerY,
#answerZ,
#option5,
#option6,
#option7,
#barcelonaChoice,
#realMadridChoice,
#juventusChoice,
#manCityChoice,
#liverpoolChoice,
#psgChoice,
#toyotaChoice,
#bmwChoice,
#mercedesChoice,
#uzbekistanChoice,
#usaChoice,
#franceChoice,
#nikeChoice,
#adidasChoice,
#pumaChoice,
#zegnaChoice,
#pradaChoice,
#armaniChoice,
#mathematicsChoice,
#physicsChoice,
#chemistryChoice {
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  width: 25px;
  height: 25px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
  font-size: 18px;

}

#question1,
#question2,
#question3,
#question4 {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

span {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

b {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.border,
.borde {
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  border: 1px solid rgb(134, 134, 134);
}

#check1,
#check2,
#check3,
#check4,
#check5,
#check6,
#check7,
#check8,
#check9,
#submit7,
#finalizeMatch,
#finishMatch,
#teslaChoice,
#japanChoice,
#gucciChoice,
#finalizeChoice,
#finalizeSelectione {
  width: 150px;
  height: 30px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 20px;
  background-color: rgb(0, 0, 186);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: 0px 0px 3px rgb(0, 0, 186);
  color: rgb(255, 255, 255);
  border: 1px solid gold;
}

#hr {
  width: 100%;
  height: 1px;
  background-color: rgb(0, 0, 0);
}

#gap {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

#div1,
#div2,
#div3,
#div4,
#div5,
#div6,
#div7,
#div8,
#div9,
#div10,
#div11,
#div12,
#div13,
#div14,
#div15,
#div16 {
  width: 60px;
  height: 30px;
  background-color: white;
  border: 2px solid;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#chooseInSpacialLocation {
  width: 55%;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  row-gap: 10px;
  display: flex;
}

#dif {
  display: flex;
  gap: 10px;
}

#div17 {
  width: 200px;
  border-radius: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;

}

/* Styling for question divs */
.dir {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#dir {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 186);
  padding-right: 20px;
  position: relative;
  z-index: 41;
  padding-left: 20px;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



#number {
  width: 40px;
  height: 25px;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-bottom-right-radius: 0px;
}

.random {
  display: flex;
}

#random {
  width: 100px;
  background-color: white;
  border: 2px solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
}

#div1 {
  background-color: rgb(255, 255, 255);

}

#div1:hover {
  background-color: rgb(197, 196, 196);
  transition: 0.5s;
}

#div2:hover {
  background-color: rgb(197, 196, 196);
  transition: 0.5s;
}

#div3:hover {
  background-color: rgb(197, 196, 196);
  transition: 0.5s;
}

#div4:hover {
  background-color: rgb(197, 196, 196);
  transition: 0.5s;
}

#div5:hover {
  background-color: rgb(197, 196, 196);
  transition: 0.5s;
}

#div6:hover {
  background-color: rgb(197, 196, 196);
  transition: 0.5s;
}

#div7:hover {
  background-color: rgb(197, 196, 196);
  transition: 0.5s;
}

#div8:hover {
  background-color: rgb(197, 196, 196);
  transition: 0.5s;
}

#div9:hover {
  background-color: rgb(197, 196, 196);
  transition: 0.5s;
}

#div10:hover {
  background-color: rgb(197, 196, 196);
  transition: 0.5s;
}

#div11:hover {
  background-color: rgb(197, 196, 196);
  transition: 0.5s;
}

#div12:hover {
  background-color: rgb(197, 196, 196);
  transition: 0.5s;
}

#div13:hover {
  background-color: rgb(197, 196, 196);
  transition: 0.5s;
}

#div14:hover {
  background-color: rgb(197, 196, 196);
  transition: 0.5s;
}

#div15:hover {
  background-color: rgb(197, 196, 196);
  transition: 0.5s;
}

#div16:hover {
  background-color: rgb(197, 196, 196);
  transition: 0.5s;

}

#card {
  width: 200px;


  background-color: rgb(255, 255, 255);
  border: 1px solid;
  box-shadow: 0px 0px 10px rgb(118, 118, 118);
  position: absolute;
  right: 0%;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(2, 2, 124);

  flex-direction: column;

  justify-content: start;
  text-align: center;
  box-sizing: border-box;
  z-index: 40;
  top: 9.6%;
  transform: translateY(-110%);
  height: 40vh;
  padding-top: 20px;

}

#de {
  width: 130px;
  height: 30px;
  background-color: rgb(0, 110, 255);
  border: 2px solid white;
  color: white;
  font-size: 15px;
  border-radius: 20px;
}

.divbtn {
  width: 135px;
  height: 35px;
  background-color: rgb(0, 110, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}



#qwer {
  position: relative;
  z-index: 20;
}
#forem{
  width: 30%;
  height:40vh;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 30px  rgb(91, 91, 91);
  border-radius: 20px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;

}
legend{
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#birinchiinput{
  width: 80%;
  height: 5vh;
  text-indent: 10px;
}
#ikkinchiinput{
  width: 80%;
  height: 5vh;
  text-indent: 10px;
}
#ikkinchibosqich,#birinchibosqich{
  width: 100%;
  align-items: center;
  display: flex ;
  flex-direction: column;
}


@media (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .variant {
    display: flex;
    gap: 8px;
    align-items: flex-start;
  }

  .sentences {
    padding-left: 10px;
    font-size: 14px;
  }

  #choices {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
  }

  #javob1,
  #javob2,
  #javob3,
  #javob4,
  #javob5,
  #javob6,
  #javob7,
  #javob8,
  #javob9,
  #javob10,
  #javob11,
  #javob12,
  #javob13,
  #javob14,
  #javob15,
  #javob16,
  #javob17,
  #javob18,
  #option1,
  #option2,
  #option3,
  #answerX,
  #answerY,
  #answerZ,
  #option5,
  #option6,
  #option7,
  #barcelonaChoice,
  #realMadridChoice,
  #juventusChoice,
  #manCityChoice,
  #liverpoolChoice,
  #psgChoice,
  #toyotaChoice,
  #bmwChoice,
  #mercedesChoice,
  #uzbekistanChoice,
  #usaChoice,
  #franceChoice,
  #nikeChoice,
  #adidasChoice,
  #pumaChoice,
  #zegnaChoice,
  #pradaChoice,
  #armaniChoice,
  #mathematicsChoice,
  #physicsChoice,
  #chemistryChoice {
    font-size: 14px;
    width: 20px;
    height: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #ddd;
  }

  #question1,
  #question2,
  #question3,
  #question4 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    align-items: start;
    
  }

  span,
  b {
    font-size: 20px;
    line-height: 1.5;
  }

  .border,
  .borde {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #888;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #check1,
  #check2,
  #check3,
  #check4,
  #check5,
  #check6,
  #check7,
  #check8,
  #check9,
  #submit7,
  #finalizeMatch,
  #finishMatch,
  #teslaChoice,
  #japanChoice,
  #gucciChoice,
  #finalizeChoice,
  #finalizeSelectione {
    width: 130px;
    height: 28px;
    font-size: 16px;
    border-radius: 15px;
    box-shadow: none;
    text-align: center;

    
  }

  #div1,
  #div2,
  #div3,
  #div4,
  #div5,
  #div6,
  #div7,
  #div8,
  #div9,
  #div10,
  #div11,
  #div12,
  #div13,
  #div14,
  #div15,
  #div16 {
    width: 30px;
    height: 25px;
    font-size: 12px;
    border-radius: 15px;
    text-align: center;
  }

  #chooseInSpacialLocation {
    width: 100%;
    gap: 8px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    
  }

  #div17 {
    width: 180px;
    height: 25px;
    font-size: 14px;
    border-radius: 20px;
    text-align: center;
  }

  .header {
    height: 50px;
    
    padding: 10px;
    justify-content: space-between;
    font-size: 18px;
  }

  #number {
    width: 30px;
    height: 20px;
    font-size: 12px;
  }

  .random {
    flex-direction: column;
    gap: 5px;
  }

  #random {
    width: 80px;
  }

  #forem {
    width: 90%;
    height: 40vh;
    padding: 15px;
  }

  legend {
    font-size: 10px;
  }

  #birinchiinput,
  #ikkinchiinput {
    width: 100%;
    height: 6vh;
    font-size: 12px;
  }
  #dif {
    display: flex;
    gap: 8px;
  }
}
